body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
*{
    box-sizing: border-box;
}

.bg{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    width: fit-content;
    padding: 50px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgb(255, 255, 255, .25);
    backdrop-filter: blur(3px);
}
label{
    font-size: 200px;
}
.bg button:not(#Reset){
    height: 100px;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(168, 208, 243);
    border: none;
    cursor: pointer;
    transition: background-color, .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.bg button:hover:not(#Reset){
    transition: none;
    background-color: rgba(5, 133, 245, 0.76);
}
#Reset{
    height: 100px;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: rgb(250, 163, 163);
    transition: background-color, 1s;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#Reset:hover{
    transition: none;
    background-color: rgb(247, 108, 108);
}
.bg button:active{
    outline: 2px solid black;
    transform: translateY(5px);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 5px inset, rgba(0, 0, 0, 0.5) -1px -2px 5px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
